**/Obj/
**/Exe/
**/List/
**/Debug/
**/Flash/
**/FlashROM/
**/FlashOnly*/
**/configPkg/
**/settings
**/config/src
*.dep
*.log
*.ewt
*.tmp
*.bak
*.obj
*.a
*.pos
*.pp
.tags
.tags_sorted_by_file
*.bin
*.hex