**/settings
**/Debug/*
**/FlashOnly/*
**/FlashROM/*
**/cc2640em_sw_handshaking/
**/cc2640em_sw_handshaking_debug/
**/cc2650stk_sw_handshaking/
**/cc2650stk_sw_handshaking_debug/
**/sap_lib_swhs/
**/CC2650/configPkg/*
**/CC2640/configPkg/*
**/configPkg/*
**/*.dep
**/*.log
**/*.ewt
**/*.tmp
**/*.bak
**/cc2650/config/src/*
**/CCS/Config/src/*
**/IAR/Config/src/*
**/*.obj
**/*.a
**/*.pos
**/*.pp
**/*.exclude
**/.xdchelp
**/.settings/*
**/.launches/*
**/targetConfigs/*
