**/Obj/
**/Exe/
**/List/
**/Debug/
**/Flash/
**/FlashROM/
**/FlashOnly*/
**/configPkg/
**/settings
**/config/src
**/tirtos/src
**/tirtos/iar/config/
*.dep
*.log
*.ewt
*.tmp
*.bak
*.obj
*.a
!cc2650_mSBC_library.a
*.pos
*.pp
.tags
.tags_sorted_by_file
*.bin
*.hex
